<div class="dialog-continer">
    <h2>Tus Datos</h2>
    <mat-list role="list">
        <mat-list-item role="listitem"><span>Name: </span>{{dialogData.name}}</mat-list-item>
        <mat-list-item role="listitem"><span>LastName: </span>{{dialogData.lastName}}</mat-list-item>
        <mat-list-item role="listitem"><span>Email: </span>{{dialogData.email}}</mat-list-item>
        <mat-list-item role="listitem"><span>Phone: </span>{{dialogData.phone}}</mat-list-item>
        <mat-list-item role="listitem"><span>Country: </span>{{dialogData.country}}</mat-list-item>
      </mat-list>
</div>
