<form  [formGroup]="form" class="form">
    <mat-form-field *ngIf="input">
        <mat-label>Input</mat-label>
        <input matInput  formControlName="inputInfo"/>
    </mat-form-field>
    <mat-form-field *ngIf="select">
        <mat-label>Select</mat-label>
        <mat-select   formControlName="selectInfo">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="textArea">
        <mat-label>Textarea</mat-label>
        <textarea  formControlName="textAreaInfo"  matInput></textarea>
    </mat-form-field>
   
    <div>
        <button type="submit" mat-raised-button (click)="sendData()" color="primary">Enviar</button>
    </div>
</form>

<div class="msg" *ngIf="success">
    Datos enviados
    <div>
        <p>
            {{sendInfo | json}}
        </p>
    </div>
    
</div>